.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio-item {
  /* It is necessary to use position relative to make the position: absolute work on the ::before  */
  position: relative;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 230px;
  border: 2px solid gray;
  border-radius: 8px;
  background-blend-mode: screen;
  background-color: gray;
}

/* This creates a virtual DOM element that we can style that will appear before/underneath the
   actual content of .portfolio-item. In this case I'm using it to add a white gradient on top of
   the background images for each tile, which improves readability. */
.portfolio-item::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-image: linear-gradient(white, transparent);
}

.portfolio-item > * {
  /* In order for z-order stacking to work correctly it is necessary for other portfolio-item
     children to use position: relative */
  position: relative;
}

.head {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}

.header {
  background-color: #282c34;
  color: beige;
}

header li {
  padding-left: 2%;
  padding-right: 2%;
  list-style: none;
}

header a {
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.socialmedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer li {
  padding-left: 2%;
  padding-right: 2%;
  list-style: none;
}

footer i {
  color: white;
}

.footer {
  background-color: #282c34;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.about {
  /* background-image: url(./components/images/jordansface.jpg);
  background-repeat: no-repeat !important;
  background-size: cover; */
}

.contactForm {
}

button:hover {
  transition: 0.3s;
  padding: 7px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

button {
  background-color: rgb(254, 254, 255);
  border: none;
  border-radius: 50px;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main {
  margin-bottom: 100px;
}
